@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container-fluid{
    max-width: 1140px;
    padding: 0;
}

/* HEADER */
header div{
}

main{
}





/* Logo */
img.logo{
    width: 200px;
    height: 160px;
    display: block;
    margin: 0 auto;
}

/* Contenedor principal de todos los elementos */
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    margin: 0 auto;
    max-width: 400px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 10px;
    height: 90vh;
}

h1{
    text-align: center;
}

button{
    display: block;
    width: 100%;
    margin: 5px 0;
}

/* Contenedor de los iconos */
.social-network{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* Íconos */
.icon{
    width: 40px;
    height: 40px;
    
}

form#registro{
    width: 200px;
}